.center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#main {
    margin-top: 350px !important;
    margin-left: 0px !important;
    background: transparent !important;
    justify-content: center;
}

.container {
    width: 1100px !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.box-content {
    opacity: 0.95 !important;
}

.box-title {
    opacity: 0.9 !important;
    background: #CA8B19 !important;
    border-color: #772222 !important;
}

.myNavbar {
    opacity: 0.9 !important;
}

.box {
    box-shadow: none !important;
}

#navigation {
    background: #CA8B19 !important;
}

.btn.btn-primary {
    background: #CA8B19 !important;
}
.btn.btn-primary:hover {
    background: #A5741B !important;
}

.modal-content {
    border: #772222 !important;
}

.modal-header {
    background: #CA8B19 !important;
}

.modal-footer {
    border-top: #772222 !important;
}